@import "../../../style/colors";

.validateForm {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 320px;
    height: 84px;
    overflow: hidden;
    position: absolute;
    right: -500px;
    top: 20px;
    background-color: $white-color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    &_v {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100px;
        background-color: $validate-color;
        border-radius: 10px 0px 0px 10px;
        z-index: 1;
        & i {
            color: $white-color;
            font-size: 28px;
        }
    }

    &_info {
        position: relative;
        background-color: $white-color;
        display: flex;
        align-items: center;
        padding-right: 16px;
        height: 100%;
        z-index: 3;
        width: calc(75% - 16px);
        &_close{
            position: absolute;
            background-color: transparent;
            border: none;
            right: 8px;
            top: 8px;
            
        }
    }

    &_actif{
        right: 20px;
        transition: ease-in-out 0.8s;
    }

    &_nonactif{
        right: -550px;
        transition: ease-in-out 0.8s;
    }
}

.material-icons{
    color: $main-color-fonce
}

@keyframes appearance {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        display: flex;
    }
}