@import "../../style/colors";
@import "../../style/font";

.Table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    padding: 0px 24px 16px 24px;
}

.Table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 0px 0px;
    min-width: 1022px;
    &_filtres {
        display: flex;
        align-items: center;
        gap: 8px;

        &_research {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 8px;
            border-radius: 3px;
            border: $main-color-neutre 2px solid;

            &_icone {
                position: absolute;
                color: $main-color-neutre;
            }

            &_input {
                padding: 8px 0px 8px 24px;
                border: none;
            }
        }
    }
}
