@import "../../style/colors";
@import "../../style/font";

.Table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    padding: 0px 24px 16px 24px;
}

.Table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 0px 0px;

    &_filtres {
        display: flex;
        align-items: center;
        gap: 8px;

        &_research {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 8px;
            border-radius: 3px;
            border: $main-color-neutre 2px solid;

            &_icone {
                position: absolute;
                color: $main-color-neutre;
            }

            &_input {
                padding: 8px 0px 8px 24px;
                border: none;
            }
        }

        &_filtre {
            border: $main-color-neutre 2px solid;
            padding: 5px;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            &_line {
                height: 4px;
                width: 24px;
                border-radius: 100px;
                background-color: $main-color-neutre;
            }
        }

        &_number {
            border: $main-color-neutre 2px solid;
            border-radius: 3px;
            padding: 6px 8px 6px 8px;
            display: flex;
            gap: 8px;
        }
    }
}

.Table_table {
    width: 100%;
    font-size: 11px;

    &_thead {
        font-size: $paragraphe-font-size;
        padding: 24px 0px 24px 0px;

        & th {
            text-align: left;
            width: 130px;
        }
    }

    &_body {
        &_line {
            height: 35px;
            text-align: left;
            &_element {
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
}

.Table_footer {
    display: flex;
    justify-content: space-between;
    &_gestionPage {
        display: flex;
        align-items: center;
        gap: 5px;
        &_button {
            border: none;
            background-color: $main-color-neutre;
            width: 15px;
            height: 15px;
            border-radius: 5px;
        }
    }
}
